<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CRUD Angular / Java / MySQL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="my-3"></div>
<div class="container">
  <div class="row my-3">
    <div class="col col-lg-1"></div>
    <div class="col-md-auto">
      <div class="card-container">
      <button (click)="listar()" class="btn btn-primary mx-3">Listar</button>
      <button (click)="adicionar()" class="btn btn-info">Adicionar</button>
    </div>
      <hr>
    <div class="row">
      <router-outlet></router-outlet>
    </div>      
    </div>   
    <div class="col col-lg-1"></div> 
  </div>    
</div>  
  

